<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report page</title>
    <link th:href="@{./css/reportStyle.css}" rel="stylesheet"/>
    <link th:href="@{./css/main.css}" rel="stylesheet" />
    <link th:href="@{./css/main2.css}" rel="stylesheet" />
    <link th:href="@{./bootstrap-4/css/bootstrap.min.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/bootstrap-4/css/reportStyle.css">
</head>

<body>
<div class="big-container">
    <h1>WELCOME</h1>
</div>
</body>
</html>